body,h1,h2,h3,h4,h5 {
	font-family: "Poppins", 
	sans-serif
}

body {
	font-size:16px;
}

.w3-half img {
	margin-bottom:-6px;
	margin-top:16px;
	opacity:0.8;
	cursor:pointer
}

.w3-half img:hover {
	opacity:1
}

.award_image {
	float: left;
	width: 100px;
	margin: 0px 15px 0px 0px;
}

.my_award {
	overflow: auto;
}

#headshot {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#sidebar_name {
	text-align: center;
}

#sidebar_info {
	text-align: center;
}

.my_project {
	overflow: auto;
	margin:15px;
}

.project_image {
	float: left;
	height: 100%;
	width: 100px;
	margin: 15px 15px 15px 0px;
}

#smartphotog_img {
	height: 100%;
	width: 66%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#splash_img {
    width:33%;
    float: right;
	margin: 16px;
}

.centered_paragraph {
	text-align: center;
}

#empathy_img {
	height: 100%;
	width: 33%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#social-links {
    width: 100%;
    margin-top: 32px;
}

.teal_divider {
    width:50px;
    border:5px solid teal;
    margin-bottom:32px
}