body,h1,h2,h3,h4,h5 {
	font-family: "Poppins", 
	sans-serif
}

body {
	font-size:16px;
}

.w3-half img {
	margin-bottom:-6px;
	margin-top:16px;
	opacity:0.8;
	cursor:pointer
}

.w3-half img:hover {
	opacity:1
}

.award_image {
	float: left;
	width: 100px;
	margin: 0px 15px 0px 0px;
}

.my_award {
	overflow: auto;
}

#headshot {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#sidebar_name {
	text-align: center;
}

#sidebar_info {
	text-align: center;
}